
.callback-section {
    background-color:#433978;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0px 0px 20px;
      font-family: "Open Sans", sans-serif;
    }
    
    /* Flexbox layout for content */
    .callback-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1200px;
    }
    .callback-image{
      width:500px;
      border-radius: 30px;
    }
    /* Right-side form container */
    .form-container {
        background: transparent; 
        padding: 30px;
      }
      
      /* Form Heading */
      .form-heading {
        font-size: 1.5rem;
        margin-bottom: 20px;
        text-align: center;
        color: #fff;
      }
      
      /* Inline sections for name and email */
      .form-row {
        display: flex;
        gap: 20px;
      }
      
      .form-group {
        flex: 1;
      }
      
      .form-control {
        padding: 10px;
        font-size: 1rem;
        width: 100%;
        border-bottom: 1px solid #ddd;
        background-color: transparent; 
      }
      
      textarea.form-control {
        resize: none;
      }
      input.form-control::placeholder,
    textarea.form-control::placeholder {
      color: #ffffff; /* Change to any color */
      opacity: 1; /* Ensure full visibility */
    }
      /* Submit button styling */
      button[type="submit"] {
        background-color: #8C7DDD;
        border:none;
        border-radius: 30px;
        padding: 10px;
        color: #fff;
        width: 100%;
        cursor: pointer;
      }
      
      button[type="submit"]:hover {
        background-color: #8C7DDD;
        border:none;
        color:#ffffff;
      }
  
    /* animation */ 
    @keyframes fadeInRight {
      from {
        opacity: 0;
        transform: translateX(50px); /* Start slightly to the right */
      }
      to {
        opacity: 1;
        transform: translateX(0); /* End at the original position */
      }
    }
    
    /* Fade-in-right animation class */
    .fade-in-right {
      animation: fadeInRight 1s ease-in-out;
    }
    
    .left-side {
      flex: 1;
      margin-right: 20px;
    }
    .right-side {
      flex: 1;
    }
  
    @media (max-width: 767px) {
      .callback-content {
        flex-direction: column;
       
      }
    
      .left-side {
        width: 100%;
        margin: 20px 20px;
      }
    
    
      .right-side {
        width: 100%;
      }
      .callback-image{
        width:335px;
      }
    }