.card{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.card img {
    object-fit: cover;
    height: 200px; /* Fixed height for images */
    border-radius: .5rem;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
    color: #555;
  }
  .service{
    margin-top: 1rem;
  }
  .grid-heading h2{
    text-align: left;
    color: #43387B;
  }
  .grid-heading p{
    text-align: left;
    font-size: 14px;
    width:70%;
  }
  .text-title{
    color:#7E61BF;
  }
  .icon{
    color:#7450c0;
  }
  .arrow{
    width:50%;
  }